body,
html{
	width:100%;
	height: 100%;
	font-family: 'Trirong', sans-serif;
	
  background: url(photo-1512453979798-5ea266f8880c.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  
	font-size: 3rem ;
	color:  #282a35;

}
 
div.buffer{
  height: 15rem;
}

hr {
  margin: 20px auto;
  color: white;
border-width: 5px;
   /* border: 2px solid black;*/
    max-width: 65px;
    opacity: 1;  
}


button.btn{
/*position:relative;*/
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;

 

}

button.btn-secondary{
 /*position:absolute;*/
  background-color:black; 
  border-color: black;
 
}


button.btn-secondary:hover{
  border-width: 5px;
  background-color:#b33; 
  border-color: #b33;
  cursor: pointer;
}


button.btn-xl{

  padding:1rem 2rem;
}





